
#about-btn{
    background-color: #4855fe;
    border: 0px;
}
#about-btn:hover{
    background-color: rgb(222, 195, 63);
    color: black;
    border:0px;
}
.abouthr{
    height: 5px;
    width: 85px;
    color: blue;
    background-color: #fd7e14;
}
p{
    font-size: 18px;
}

.parentdiv{
    height: 200px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
}
.childdiv{
    height: 120px;
    width: 1530px;
    background-color:white;
    border-radius: 0px 0px 1000px 1000px;
}
